p {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
  font-weight: 900;
}
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

figcaption {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0% 15%
}
figure {
  margin: 3% 20%;
}
.sugar {
  margin: 0% 20%;
white-space: nowrap;
}